{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    
    <div class="alert alert-danger" id="success-alert">{{message}}</div>


    {% endfor %}
</ul>

  {% endif %}
{% endwith %}

{% if error %}
<div class="alert alert-danger" id="success-alert">{{message}}</div>
{% endif %}

{% if success %}
<div class="alert alert-success" id="success-alert">{{message}}</div>
{% endif %}

{% endblock %}

{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });
</script>
{% endblock %}
